In [3]:
from difflib import SequenceMatcher

a = "I love Coding"
b = "I love Coding"

ratio = SequenceMatcher(None, a, b).ratio()

In [4]:
print(ratio)

1.0

In [5]:
#String compare in Python example
 
 
 
str_x = 'Hello & Welcome'
 
str_y = 'Hello & Welcome'
 
 
 
#comparing by ==
 
if str_x == str_y:
 
    print ("Same Strings")
 
else:
 
    print ("Different Strings")

Same Strings

In [6]:
str_input1 = input("Enter First String? ")
 
str_input2 = input("Enter Second String? ")
 
 
 
#comparing by != (not equal to)
 
if str_input1 != str_input2:
 
    print ("Both Strings are different!")
 
else:
 
    print ("You entered same strings!")

Enter First String? Heloo this is Zeelan how are you
Enter Second String? Heloo this is Zeelan how are you
You entered same strings!

In [ ]:
import pandas as pd

#create sample data
data = {'model': ['Lisa', 'Lisa 2', 'Macintosh 128K', 'Macintosh 512K'],
        'launched': [1983,1984,1984,1984],
        'discontinued': [1986, 1985, 1984, 1986]}

df = pd.DataFrame(data, columns = ['model', 'launched', 'discontinued'])
df

In [8]:
df[df['model'].str.contains('ac')]

            model  launched  discontinued
2  Macintosh 128K      1984          1984
3  Macintosh 512K      1984          1986

In [9]:
import pandas as pd
import numpy as np
 
df1 = {
    'State':['Arizona','Georgia','Newyork','Indiana','Florida'],
    'State_1':['New Jersey','georgia','Newyork','Indiana','florida']}
 
df1 = pd.DataFrame(df1,columns=['State','State_1'])
print(df1)

     State     State_1
0  Arizona  New Jersey
1  Georgia     georgia
2  Newyork     Newyork
3  Indiana     Indiana
4  Florida     florida

In [10]:
df1['is_equal']= (df1['State']==df1['State_1'])
print(df1)

     State     State_1  is_equal
0  Arizona  New Jersey     False
1  Georgia     georgia     False
2  Newyork     Newyork      True
3  Indiana     Indiana      True
4  Florida     florida     False

In [22]:
question = "Well, right now I'm upset. I felt like watching"
ques=pd.DataFrame([question],columns=['ques'])

In [23]:
print(ques.shape)
print(ques.columns)
ques

(1, 1)
Index(['ques'], dtype='object')

                                              ques
0  Well, right now I'm upset. I felt like watching

In [ ]:
question = input("Enter First String? ")
ques=pd.DataFrame([question],columns=['ques'])

In [ ]:
print(ques.shape)
print(ques.columns)
ques

In [ ]:
dfnew=pd.DataFrame()
dfnew1=pd.DataFrame()
dfnew['is_equal']= (df1['State']==ques['ques'])
dfnew1 = df1[df1['State']==ques['ques']]
print(df1)
print(dfnew)
print(dfnew1)